name: DevSecOps Kubernetes Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Kodu Cek
      uses: actions/checkout@v3

    - name: Docker Hub'a Giris Yap
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Imajı Build Et ve Etiketle
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devsecops-proje:latest .

    - name: Trivy Guvenlik Taramasi (Kritik Aciklar)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: '${{ secrets.DOCKERHUB_USERNAME }}/devsecops-proje:latest'
        format: 'table'
        exit-code: '0'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

    - name: Imaji Docker Hub'a Gonder (Push)
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/devsecops-proje:latest

  deploy-to-k8s:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
    - name: Kubernetes Sunucusuna Baglan ve Guncelle
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # 1. Kubernetes'e sistemi yeniden baslatmasini soyle
          sudo kubectl rollout restart deployment/guvenlik-deployment
          
          # 2. durumun log kaydını almak içn 
          echo "Guncelleme tetiklendi! Kubernetes yeni imaji cekiyor..."